---
interface Props {
	id: string
	classes?: string
	size?: number
}

const { id, classes, size = 24 } = Astro.props
---

<button
	id=`${id}`
	type='button'
	aria-label='Borra lo que escribiste'
	title='Borra lo que escribiste'
	class={` ${classes}`}
>
	<svg
		xmlns='http://www.w3.org/2000/svg'
		width={size}
		height={size}
		viewBox='0 0 24 24'
		fill='none'
		stroke='currentColor'
		stroke-width='2'
		stroke-linecap='round'
		stroke-linejoin='round'
		><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
			d='M20 6a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-11l-5 -5a1.5 1.5 0 0 1 0 -2l5 -5z'></path><path
			d='M12 10l4 4m0 -4l-4 4'></path></svg
	>
</button>
<style></style>
