---

---

<main
	transition:animate='slide'
	class='flex h-full flex-col gap-8 rounded-lg bg-royal-blue-950/10 px-4 py-8 text-royal-blue-200 shadow-lg backdrop-blur-sm md:px-8 md:py-16 md:shadow-xl'
>
	<slot />
</main>

<script>
	// handleRecipientFormEvents()
</script>
