---
import Form from "@/components/sections/Form.astro"
import Header from "@/components/sections/Header.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Form />
	</main>
</Layout>

<style></style>
