<div
	class="pointer-events-none fixed inset-0 -bottom-1/2 -left-1/2 -right-1/2 -top-1/2 z-[99999999] h-[200vh] w-[200vw] bg-transparent bg-repeat brightness-50 contrast-50"
>
</div>

<style>
	div {
		background-image: url("/imgs/noise.png");
		animation: noise 1s steps(10) infinite;
		mix-blend-mode: difference;
	}

	@keyframes noise {
		0%,
		100% {
			transform: translate(0, 0);
		}
		10% {
			transform: translate(-5%, -5%);
		}
		20% {
			transform: translate(-10%, 5%);
		}
		30% {
			transform: translate(5%, -10%);
		}
		40% {
			transform: translate(-5%, 15%);
		}
		50% {
			transform: translate(10%, 5%);
		}
		60% {
			transform: translate(15%, 10%);
		}
		70% {
			transform: translate(10%, 5%);
		}
		80% {
			transform: translate(5%, 15%);
		}
		90% {
			transform: translate(15%, 10%);
		}
	}
</style>
